input[type="file"] {
    display: block;
}

.imageThumb {
    max-height: 75px;
    border: 2px solid;
    padding: 1px;
    cursor: pointer;
}

.pip {
    display: inline-block;
    margin: 10px 10px 0 0;
}
.card-img {
    object-fit: cover !important;
    /* height: 15vw !important; */
    /* width: 100 !important; */
}


/* .card-deck { */
    /* display: flex; */
    /* @include media-breakpoint-only(lg) { */
        /* column-count: 3;
         */
    /* } */

    /* @include media-breakpoint-only(xl) { */
        /* column-count: 5; */
    /* } */
/* } */

/* .card-img-overlay {
    margin-right: ;
  } */
/* .remove {
    display: block;
    background: #444;
    border: 1px solid black;
    color: white;
    text-align: center;
    cursor: pointer;
  }
  .remove:hover {
    background: white;
    color: black;
  } */