<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #c8c8c8;">
    <a class="navbar-brand font-weight-bold" href="#">
        <img src="components/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        TOUCH TAP LLC
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav nav-fill w-100">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="braille_transcription.html">Braille Trascription</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="orientation_services.html">Orientation Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="mobility_services.html">Mobility Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
            </li>
        </ul>
    </div>
</nav>